[Unit]
Description=AzerothCore Authserver
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
User=azeroth
WorkingDirectory=/home/azeroth/azerothcore
ExecStart=/home/azeroth/server/bin/authserver


[Install]
WantedBy=multi-user.target
